@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

.kode-mono {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* GENERAL CSS */
/* '*' is Targeting whole page */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "kode-mono", monospace ;
}

html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}

/* Transiton */

a,
.btn {
    transition: all 300ms ease;
}

nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: rgb(0, 110, 0);
    text-decoration: underline;
    text-underline-offset: 0.75rem;
    text-decoration-color: rgb(0, 110, 0);
}

.logo-nav-name {
    font-size: 2rem;
}

.logo-nav-name:hover {
    cursor: default;
}

/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0%;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links, a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links, li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: none;
}

.hamburger-icon span:first-child {
    transform: none;
}

#arrow_icon {
    height: 4rem;
    width: auto;
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}

#arrow_icon:hover {
    cursor: pointer;
}


section {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    /* border: 1px solid black; */
    
}

/* PROFILE SECTION */

#profile {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10rem;
    height: 80vh;
}

#profile-picture {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.section__pic_container {
    /* display: flex; */
    justify-content: center;
    margin: auto 0;
    /* border: 2px solid black; */
}

.section__text {
    align-self: center;
    text-align: center;
}

.section__text__p1, 
.section__text__about_me_p1 {
    font-weight: 500;
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.profile_title,
.about_me_title {
    font-size: 3.25rem;
    font-weight: 700;
    text-align: center;
    /* margin-top: 0.5rem; */
    /* margin-bottom: 0.5rem; */
}

.section__text__p2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    text-align: center;
}

.btn-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 1.5rem;

}

.btn-download-cv, .btn-contact-info {
    width: 8rem;
    height: 3rem;
    font-weight: 600;
    border-radius: 2rem;
    text-align: center;
}

.btn-download-cv:hover, .btn-contact-info:hover {
    color: rgb(0, 110, 0);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    cursor: pointer;
}

.profile_social_links {
    display: flex;
    justify-content: space-evenly;
}

#profile_github_logo {
    height: 4rem;
    width: 4rem;
    margin-top: 1rem;
}

#profile_github_logo:hover {
    cursor: pointer;
    
}

/* ABOUT ME SECTION */

#about_me {
    position: relative;
    margin-top: 5vh;
}

.about_me_title {
    margin-bottom: 5rem;
}

.section_container {
    display: flex;
    justify-content: center;
    gap: 4rem;
    height: 50%;
}

.about_containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about_details_container {
    justify-content: center;
    flex-direction: column;
}

.about_containers,
.about_details_container {
    display: flex;
}

.details_container {
    padding: 1rem 2rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(0, 110, 0) 0.1rem solid;
    text-align: center;
}

.about_me_lists li {
    margin-top: 0.5rem;
    list-style: square;
    text-align: center;
    gap: 3rem;
}

.about_me_text_container, p {
    text-align: justify;
    /* color: black; */
    
}

.about_me_text {
    color: black;
}

#about_me_pic {
    width: 350px;
    height: auto;
    border-radius: 5rem;
}

.icon {
    height: 3rem;
    width: auto;
}